name: Renovate

on:
  schedule:
    - cron: '0 22 * * *'
  workflow_dispatch:

permissions:
  checks: write
  statuses: write
  contents: write
  issues: write
  pull-requests: write

jobs:
  renovate:
    runs-on: ubuntu-latest
    steps:
      - name: Get token
        id: get_token
        uses: actions/create-github-app-token@v2.2.1
        with:
          private-key: ${{ secrets.private_key }}
          app-id: ${{ secrets.app_id }}
          owner: ${{ github.repository_owner }}
          repositories: '${{ github.event.repository.name }}'

      - name: Checkout
        uses: actions/checkout@v6.0.2

      - name: Self-hosted Renovate
        uses: renovatebot/github-action@v44.2.5
        with:
          configurationFile: renovate.json5
          token: '${{ steps.get_token.outputs.token }}'
        env:
          RENOVATE_REPOSITORIES: '${{ github.repository }}'
          RENOVATE_PLATFORM_COMMIT_ENABLED: 'true'
